nav.top {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 60px;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 2rem;
    z-index: 10;
}
nav a, nav b {
    padding-right: 10px;
}
nav a.new:after {
    content: '⬅︎';
    margin-left: 10px;
    padding: 2px;
    color: red;
}
nav a {
    text-decoration: none;
}
figure {
    width: 100%;
    margin-left: 0;
}
#cc0 {
    border: none;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: 1rem;    
}
#citation {
    font-size: 1.2rem;
    border: 1px solid grey;
    padding: 1rem;
}
cite {
    font-style: normal;
}
table {
    width: 100%;
    table-layout:fixed;
    font-size: 0.7rem;
}
th, td {
    vertical-align: top;
    text-align: left;
    padding: 5px;
}
.on {
    visibility: visible;
}
.off {
    visibility: hidden;
}
.firstrow {
    position: relative;
    top: 120px !important;;
}

/* 
 * carousel, based on
 *
 * https://codepo8.github.io/simple-carousel/carousel-images.html
 */
.carouselbox {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
    padding-bottom: 75%;
}
.content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content figure {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: small;
    z-index: 2;
}
.active figure {
    position: absolute;
    top: 2000px;
}
.active figure.current {
    top: 35px;
    
}
figure {
    height: 100%;
}
/* figure img {
    height: calc(100% - 70px);
} */
.buttons {
    display: none;
    height: 25px !important;
}
.active .buttons {
    display: block;
    padding: 5px 0;
    text-align: center;
    z-index: 10;
    position: relative;
}
.carouselbox button {
    border: none;
    visibility: hidden;
}
.active button {
    visibility: visible;
} 
.offscreen {
    position: absolute;
    left: -2000px;
}

/* overide Skeleton styles */
button {
    height: 0 !important;
    line-height: 0 !important;
    white-space: nowrap;
    border-radius: none !important;
    border: none !important;
    cursor: pointer; 
    height: 0 !important;
    padding: 5px 10px !important;
    letter-spacing: 0 !important;
    white-space: auto !important;
    background-color: auto !important;
    box-sizing: border-box;
}
/* end carousel */

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    table {
        font-size: 1.2rem;
        table-layout: auto;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}